<ion-header>
  <ion-toolbar>
    <ion-title>Places</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToHome()">
        <ion-icon slot="end" name="globe"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item  *ngFor="let place of places" [routerLink]="['/places', place.id]">
      <ion-avatar slot="start">
        <ion-img [src]="place.imageUrl"></ion-img>
      </ion-avatar>
      <ion-label>
        {{place.title | uppercase}}
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" [routerLink]="['/newplace']" ></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
