<ion-header>
  <ion-toolbar color="success">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="places"></ion-back-button>
      </ion-buttons>
    <ion-title>New place</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-input type="text" placeholder="Place name" #title></ion-input>
          <ion-input type="text" placeholder="Set image address url" #url></ion-input>
          <ion-button (click)="saveNewPlace(title, url)" expand="block" fill="clear" shape="round">
            Add new place 
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
